<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <title>注册协议</title>
    <link href="https://bootxyysc.oss-cn-hangzhou.aliyuncs.com/css/style.min.css" rel="stylesheet">
    <link href="https://bootxyysc.oss-cn-hangzhou.aliyuncs.com/css/xcode.min.css" rel="stylesheet"/>
    <script src="https://bootxyysc.oss-cn-hangzhou.aliyuncs.com/js/jquery.min.js"></script>
</head>
<body>
<article class="main-content post-page" itemscope="" itemtype="https://schema.org/Article">

    <div id="post-content" class="post-content" itemprop="articleBody">
        <center>App分享用户服务协议</center>
        <p>一、特别提示
            在此特别提醒您(用户)在注册成为App分享用户之前，请认真阅读本《App分享用户服务协议》 (以下简称“协议”)
            ，确保您充分理解本协议中各条款。请您审慎阅读并选择接受或不接受本协议。 您同意并点击确认本协议条款且完成注册程序后，
            才能成为App分享的正式注册用户，并享受App分享的各类服务。
            您的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。</p>
        <p>本协议约定App分享与用户之间关于App分享服务(以下简称“服务” )的权利义务。
            “用户”是指注册、登录、使用本服务的个人、单位。本协议可由App分享随时更新， 更新后的协议条款一旦公布即代替原来的协议条款，
            恕不再另行通知，用户可在本APP 中查阅最新版协议条款。在修改协议条款后，如果用户不接受修改后的条款，
            请立即停止使用App分享提供的服务，用户继续使用App分享提供的服务将被视为接受修改后的协议。</p>
        <p>二、账号注册</p>
        <ol>
            <li>
                <p>
                    为了使用我们的某些服务，您可能需要一个App分享帐户。您可以创建自己的App分享帐户或者由第三方管理员（例如微博、微信、QQ等）为您分配App分享帐户。如果您使用的是由第三方分配的App分享帐户，可能需要遵守另外的条款或附加条款，并且您的管理员有权访问或停用您的帐户。</p>
            </li>
            <li>
                <p>
                    如果注册申请者有被App分享封禁的先例或涉嫌虚假注册及滥用他人名义注册，及其他不能得到许可的理由，App分享将拒绝其注册申请。</p>
            </li>
            <li>
                <p>
                    在用户注册及使用本服务时，按照《网络安全法》规定，App分享需要搜集能识别用户身份的个人信息，或为用户提供更好的使用体验。App分享搜集的信息包括但不限于用户手机号，App分享同意对这些信息的使用将受限于第三条用户个人隐私信息保护的约束。</p>
            </li>
        </ol>
        <p>三、账户安全</p>
        <ol>
            <li>
                <p>
                    用户一旦注册成功，成为App分享的用户，将得到一个用户名和密码，并有权利使用自己的用户名及密码随时登陆App分享。用户可以修改用户名并设置相应的密码保护该账号，该用户帐号和密码由用户负责保管。</p>
            </li>
            <li>
                <p>用户对用户名和密码的安全负全部责任，同时对以其用户名进行的所有活动和事件负法律责任。</p>
            </li>
            <li>
                <p>用户不得以任何形式擅自转让或授权他人使用自己的App分享用户名。</p>
            </li>
            <li>
                <p>用户对密码加以妥善保管，切勿将密码告知他人，因密码保管不善而造成的所有损失由用户自行承担。</p>
            </li>
            <li>
                <p>
                    如果用户泄漏了密码，有可能导致不利的法律后果，因此不管任何原因导致用户的密码安全受到威胁，应该立即和App分享客服人员取得联系，否则后果自负。</p>
            </li>
        </ol>
        <p>四、用户声明与保证</p>
        <ol>
            <li>
                <p>用户承诺其为具有完全民事行为能力的民事主体，且具有达成交易履行其义务的能力。</p>
            </li>
            <li>
                <p>
                    用户须对在App分享的注册信息的真实性、合法性、有效性承担全部责任，用户不得冒充他人；不得利用他人的名义发布任何信息；不得恶意使用注册帐号导致其他用户误认；否则App分享有权立即停止提供服务，收回其帐号并由用户承担由此而产生的一切法律责任。</p>
            </li>
            <li>
                <p>
                    用户通过App分享发表的信息为公开的信息，用户对任何信息的发表即认可该信息为公开的信息，并单独对此行为承担法律责任；任何用户不愿被其他第三人获知的信息都不应该在App分享上进行发表。</p>
            </li>
            <li>
                <p>
                    用户承诺不得以任何方式利用App分享直接或间接从事违反中国法律以及社会公德的行为，App分享有权对违反上述承诺的内容予以删除。</p>
            </li>
            <li>
                <p>用户通过使用App分享的过程中所制作、上载、复制、发布、传播的任何内容，包括但不限于账号头像、名称、用户说明等注册信息及认证资料，或文字、
                    语音、
                    图片、视频、图文等发送、回复和相关链接页面，以及其他使用账号或本服务所产生的内容，不得违反国家相关法律制度，包含但不限于如下原则:</p>
            </li>
        </ol>
        <p>(1) 违反宪法所确定的基本原则的;</p>
        <p>(2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的;</p>
        <p>(3) 损害国家荣誉和利益的;</p>
        <p>(4) 煽动民族仇恨、民族歧视，破坏民族团结的;</p>
        <p>(5) 侮辱、滥用英烈形象，否定英烈事迹，美化粉饰侵略战争行为的；</p>
        <p>(6) 破坏国家宗教政策，宣扬邪教和封建迷信的;</p>
        <p>(7) 散布谣言，扰乱社会秩序，破坏社会稳定的;</p>
        <p>(8) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的;</p>
        <p>(9) 侮辱或者诽谤他人，侵害他人合法权益的;</p>
        <p>(10) 含有法律、行政法规禁止的其他内容的；</p>
        <p>(11) 违反App分享《用户管理规定》的信息。</p>
        <ol start="6">
            <li>
                用户不得利用App分享账号或本服务制作、上载、复制、发布、传播干扰App分享正常运营，以及侵犯其他用户或第三方合法权益的内容:
            </li>
        </ol>
        <p>(1)含有任何性或性暗示的;</p>
        <p>(2)含有辱骂、恐吓、威胁内容的;</p>
        <p>(3)含有骚扰、垃圾广告、恶意信息、诱骗信息的;</p>
        <p>(4)涉及他人隐私、个人信息或资料的;</p>
        <p>(5)侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的;</p>
        <p>(6)含有其他干扰本服务正常运营和侵犯其他用户或第三方合法权益内容的信息。</p>
        <ol start="7">
            <li>
                <p>
                    App分享有权对用户使用App分享的情况进行审查和监督，如用户在使用App分享时违反任何上述规定，App分享或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于删除内容、暂停或终止用户使用App分享的权利）以减轻用户不当行为造成的影响。</p>
            </li>
            <li>
                <p>
                    用户有权利在能保障账号安全性的情况下，注销自己的App分享账号，账号注销后，App分享会删除该账号所有生产的内容与所有个人信息（我的-帮助中心-新增反馈-提交注销App分享账号的申请）</p>
            </li>
        </ol>
        <p>五、服务内容</p>
        <ol>
            <li>具体服务内容由App分享根据实际情况提供，包括但不限于:</li>
        </ol>
        <p>(1) 应用安装包下载与安装</p>
        <p>(2) 信息浏览与评论</p>
        <p>(3) 应用编辑与发布</p>
        <ol start="2">
            <li>
                <p>所有发给用户的通告及其他消息都可通过APP或者用户所提供的联系方式发送。</p>
            </li>
            <li>
                <p>软件的获取、更新:</p>
            </li>
        </ol>
        <p>(1)
            用户应当按照APP分享的指定官方网站或指定方式下载安装本软件产品。谨防在非指定网站下载本软件，以免移动终端设备感染能破坏用户数据和获取用户隐私信息的恶意程序。如果用户从未经APP分享授权的第三方获取本软件或与本软件名称相同的安装程序，APP分享无法保证该软件能够正常使用,并对因此给您造成的损失不予负责。</p>
        <p>(2)
            为了改善用户体验、完善服务内容，APP分享有权不时地为您提供本软件替换、修改、升级版本。APP分享提供给用户自行选择是否需要升级。当软件新版本发布后，APP分享不保证旧版本软件的继续可用。</p>
        <p>4.上传的资源不保证每个用户的机型都能正常使用。</p>
        <p>六、服务的终止</p>
        <ol>
            <li>在下列情况下，App分享有权终止向用户提供服务:</li>
        </ol>
        <p>(1)在用户违反本服务协议相关规定时，App分享有权终止向该用户提供服务;
            如该用户再一次直接或间接或以他人名义注册为用户的，一经发现，App分享有权直接单方面终止向该用户提供服务;</p>
        <p>(2)本服务条款终止或更新时，用户明示不愿接受新的服务条款;</p>
        <p>(3)其它App分享认为需终止服务的情况。</p>
        <p>(4)若因用户发布违规资源，本平台有权终止用户使用权</p>
        <ol start="2">
            <li>
                <p>服务终止后，App分享没有义务为用户保留原账号中或与之相关的任何信息，
                    或转发任何未曾阅读或发送的信息给用户或第三方。</p>
            </li>
            <li>
                <p>用户理解并同意，即便在本协议终止及用户的服务被终止后，App分享仍有权:</p>
            </li>
        </ol>
        <p>(1) 继续保存您的用户信息;</p>
        <p>(2) 继续向用户主张在其使用App分享平台服务期间因违反法律法规、本协议及平台规则而应承担的责任。</p>
        <p>七、服务的变更、中断</p>
        <ol>
            <li>
                <p>
                    App分享不保证网络服务一定能满足用户的要求，也不保证网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作保证。</p>
            </li>
            <li>
                <p>
                    对于因不可抗力或App分享不能控制的原因造成的网络服务中断或其它缺陷，App分享不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</p>
            </li>
        </ol>
        <p>八、服务条款修改</p>
        <ol>
            <li>
                <p>
                    根据互联网的发展和有关法律、法规及规范性文件的变化，或者因业务发展需要，App分享有权对本协议的条款作出修改或变更，一旦本协议的内容发生变动，App分享将会直接公布修改之后的协议内容，该公布行为视为App分享已经通知用户修改内容。</p>
            </li>
            <li>
                <p>
                    如果不同意App分享对本协议相关条款所做的修改，用户有权并应当停止使用App分享。如果用户继续使用App分享，则视为用户接受App分享对本协议相关条款所做的修改。。</p>
            </li>
            <li>
                <p>如果用户继续使用网络服务，则视为用户接受App分享对本服务条款所做的修改。</p>
            </li>
        </ol>
        <p>九、免责与赔偿声明</p>
        <ol>
            <li>
                <p>若App分享已经明示其服务提供方式发生变更并提醒用户应当注意事项，
                    用户未按要求操作所产生的一切后果由用户自行承担。</p>
            </li>
            <li>
                <p>用户明确同意其使用App分享所存在的风险将完全由其自己承担，
                    因其使用App分享而产生的一切后果也由其自己承担。</p>
            </li>
            <li>
                <p>用户同意保障和维护App分享及其他用户的利益， 由于用户在使用App分享有违法、 不真实、 不正当、 侵犯第三方合法权益的行为，
                    或用户违反本协议项下的任何条款而给App分享及任何其他第三方造成损失，
                    用户同意承担由此造成的损害赔偿责任。</p>
            </li>
            <li>
                <p>
                    访问App分享的用户已经充分理解，App分享对用户或开发者提供下载的软件和程序代码不拥有任何权利，其版权归该软件和程序代码的合法拥有者所有，请用户在下载使用前详细阅读并遵守软件作者的“使用许可协议”。</p>
            </li>
            <li>
                <p>
                    App分享保证开发者提供的所有可下载资源App分享均未做任何修改或编辑，但App分享不保证本站提供的下载资源的准确性、安全性和完整性，不承担用户因使用这些下载资源对自己或他人造成任何形式的损失或伤害。</p>
            </li>
            <li>
                <p>
                    App分享网页内的资料提供者拥有该网页上资料的版权，未经App分享的明确许可，任何人不得非法复制、转载发布以及用于商业用途；不得盗链本站下载资源。App分享自行开发或和他人共同开发的所有内容，包括网站设计、布局结构、服务等拥有全部知识产权，未经App分享的明确许可，任何人不得做全部或部分复制或仿造。</p>
            </li>
            <li>
                <p>
                    APP分享仅提供分享平台，有关资源均由用户网络收集和网友提供等，任何涉及商业盈利目的的均不得使用，否则产生的一切后果将由此用户承担！请不要将平台资源用于其他用途，所产生的后果我们概不负责！如果相关资源存在的内容对您和您的利益产生损害，请立即联系我们，将在最短时间内对其做出删除处理。</p>
            </li>
            <li>
                <p>App分享不能对用户发表内容的正确性进行保证。</p>
            </li>
            <li>
                <p>
                    用户在App分享发布的内容仅表明其个人的立场和观点，并不代表App分享的立场或观点。作为内容的发布者，需自行对所发布内容负责，因所发布内容引发的一切纠纷，由该内容的发布者承担全部法律及连带责任，App分享不承担任何法律及连带责任。</p>
            </li>
        </ol>
        <p>十、隐私声明</p>
        <ol>
            <li>适用范围:</li>
        </ol>
        <p>(1) 在用户注册App分享账户时，根据要求提供的个人注册信息;</p>
        <p>(2) 在用户使用App分享或访问其相关网页时， 自动接收并记录的用户的相关信息， 包括但不限于 IP 地址等数据。</p>
        <ol start="2">
            <li>信息使用:</li>
        </ol>
        <p>(1) App分享不会向任何人出售或出借用户的个人信息;</p>
        <p>(2) App分享亦不允许任何第三方以任何手段收集、 编辑、 出售或者无偿传播用户的个人信息。任何用户如从事上述活动，一经发现，
            有权立即终止与该用户的服务协议，查封其账号;</p>
        <p>(3) 为达到服务用户的目的，App分享可能通过使用用户的个人信息，
            向用户提供服务，包括但不限于向用户发出产品和服务信息，或者与App分享合作伙伴共享信息以便他们向用户发送有关其产品和服务的信息。</p>
        <ol start="3">
            <li>信息披露:</li>
        </ol>
        <p>用户的个人信息将在下述情况下部分或全部被披露:</p>
        <p>(1) 经用户同意，向第三方披露;</p>
        <p>(2) 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露;</p>
        <p>(3) 如果用户出现违反中国有关法律或者政策的情况，需要向第三方披露;</p>
        <p>(4) 为提供用户所要求的产品和服务，而必须和第三方分享用户的个人信息;</p>
        <p>(5) 其它根据法律或者政策认为合适的披露。</p>
        <p>十一、侵权举报</p>
        <ol>
            <li>
                <p>
                    涉及个人隐私：发布内容中直接涉及身份信息，如个人姓名、家庭住址、身份证号码、工作单位、私人电话等详细个人隐私；</p>
            </li>
            <li>
                <p>应用侵权：权利人认为第三方在App分享提供的移动应用侵犯其合法权益，请通过邮箱提交相关材料进行投诉</p>
            </li>
            <li>
                <p>
                    用户在App分享发表的内容仅表明其个人的立场和观点，并不代表App分享的立场或观点。如果个人或企业发现App分享上存在侵犯自身合法权益的内容，可以先尝试与作者取得联系，通过沟通协商解决问题。如您无法联系到作者，或无法通过与作者沟通解决问题，您可通过举报按钮来向App分享平台进行投诉。</p>
            </li>
            <li>
                <p>
                    处理流程：出于网络平台的监督属性，并非所有申请都必须受理，处理期间，除法律法规规定的情形外，App分享不向任何组织或个人提供关于App分享用户的电话、邮箱及其他个人信息的查询服务。</p>
            </li>
            <li>
                <p>
                    App分享已经删除或处理的内容，但是百度、谷歌等搜索引擎依然可以搜索到，是因为百度、谷歌等搜索引擎自带缓存，此类问题App分享无权也无法处理，您可以自行联系搜索引擎服务商进行处理。</p>
            </li>
            <li>
                <p>
                    用户在App分享中出于自发的商业行为引发的法律纠纷，由交易双方自行解决，其后果由交易双方自行承担，与App分享无关。</p>
            </li>
        </ol>
        <p>十二、知识产权</p>
        <ol>
            <li>
                <p>
                    用户在App分享上发表的全部原创内容（包括但不仅限于回答、文章和评论），著作权均归用户本人所有。用户可授权第三方以任何方式使用，不需要得到App分享的同意。</p>
            </li>
            <li>
                <p>
                    App分享提供的网络服务中包含的标识、版面设计、排版方式、文本、图片、图形等均受著作权、商标权及其它法律保护，未经相关权利人（含App分享及其他原始权利人）同意，上述内容均不得在任何平台被直接或间接发布、使用、出于发布或使用目的的改写或再发行，或被用于其他任何商业目的。</p>
            </li>
            <li>
                <p>
                    用户将其在App分享上发表的全部内容，授予App分享免费的、不可撤销的、非独家使用许可，App分享有权将该内容用于App分享各种形态的产品和服务上，包括但不限于网站以及发表的应用或其他互联网产品。</p>
            </li>
            <li>
                <p>
                    第三方若出于非商业目的，将用户在App分享上发表的内容转载在App分享之外的地方，应当在作品的正文开头的显著位置注明原作者姓名（或原作者在App分享上使用的帐号名称），给出原始链接，注明「发表于App分享」，并不得对作品进行修改演绎。若需要对作品进行修改，或用于商业目的，第三方应当联系用户获得单独授权，按照用户规定的方式使用该内容。</p>
            </li>
            <li>
                <p>
                    在App分享上传或发表的内容，用户应保证其为著作权人或已取得合法授权，并且该内容不会侵犯任何第三方的合法权益。如果第三方提出关于著作权的异议，App分享有权根据实际情况删除相关的内容，且有权追究用户的法律责任。给App分享或任何第三方造成损失的，用户应负责全额赔偿。</p>
            </li>
            <li>
                <p>
                    如果任何第三方侵犯了App分享用户相关的权利，用户同意授权App分享或其指定的代理人代表App分享自身或用户对该第三方提出警告、投诉、发起行政执法、诉讼、进行上诉，或谈判和解，并且用户同意在App分享认为必要的情况下参与共同维权。</p>
            </li>
            <li>
                <p>
                    App分享有权对用户发布的内容进行审核，有权根据相关证据结合《侵权责任法》、《信息网络传播权保护条例》等法律法规及App分享社区指导原则对侵权信息进行处理。</p>
            </li>
        </ol>
        <p>十三、其他</p>
        <ol>
            <li>
                <p>App分享郑重提醒用户注意本协议中免除App分享责任和限制用户权利的条款，请
                    用户仔细阅读，自主考虑风险。未成年人应在法定监护人的陪同下阅读本协议。</p>
            </li>
            <li>
                <p>
                    本协议的效力、解释及纠纷的解决，适用于中华人民共和国法律。若用户和App分享之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户同意将纠纷或争议提交App分享驻所地有管辖权的人民法院。</p>
            </li>
            <li>
                <p>本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对双方具有约束力。</p>
            </li>
            <li>
                <p>本协议最终解释权归App分享所有，并且保留一切解释和修改的权力。</p>
            </li>
            <li>
                <p>本协议从2021年01月19日起适用。</p>
            </li>
        </ol>
    </div>
</article>

</body>
</html>